@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Menu de Navegacao*/
.navbar-default {
	background-color: #00C853;
	font-family: 'Pacifico', cursive;
	font-weight: 500;
}
.navbar-brand, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #FFF;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:hover{
	color: #FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #FFF;
	color: #00C853;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover > .fa.fa-bars{
	color: #00C853;
}
.navbar-default .navbar-toggle {
	border-color: #FFF;
}
.fa.fa-bars{
	color: #FFF;
}

/*Painel*/
.panel-group{
	margin-top: 60px;
}
.panel-success>.panel-heading {
	color: #FFF;
	background-color: #00C853;
	border-color: #d6e9c6;
}

/*Conteudo*/
ul {
	list-style-type: none;
}
h2, h4{
	font-family: 'Pacifico', cursive;
	font-weight: 500;
}
.fa{
	color: #00C853;
}
.panel-footer, .panel-footer a{
	color: #004D40;
	font-weight: 600;
}
.panel-footer a{
	text-decoration: none;
}